<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Viser RSS reader</title>

  <link rel="stylesheet" href="bower_components/pure/pure-min.css" charset="utf-8">
  <link rel="stylesheet" href="css/style.css" charset="utf-8">
  <link rel="stylesheet" href="css/side-menu.css" charset="utf-8">

</head>

<body ng-app="viser">

  <div ng-controller="feedc">

    <div id="layout">
      <!-- meni -->
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger -->
        <span></span>
      </a>

      <div id="menu">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="#">Viser</a>

          <ul class="pure-menu-list">

            <li class="pure-menu-item"><a href="#" class="pure-menu-link" ng-click="feedSrc='http://www.viser.edu.rs/xml/rss-vesti.php';loadFeed($event);">Viser vesti</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link" ng-click="feedSrc='http://www.theverge.com/rss/frontpage';loadFeed($event);">N1 Info</a></li>
          </ul>
        </div>
      </div>

      <div id="main">
        <div class="header">
          <h1>Vesti</h1>
          <h2>RSS pregled vesti</h2>
        </div>

        <div class="content">
          <ul>
            <span ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Vesti</span>
            <li ng-repeat="feed in feeds">
              <h5 class="content-subhead"><a href="{{feed.link}}">{{feed.title}}</a></h5>
              <p class="text-left">{{feed.contentSnippet}}</p>
              <hr>
              <p class="text-left">{{feed.content}}</p>
              <span class="small">{{feed.publishedDate}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

</body>

<!-- ANGULAR biblioteke -->
<script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
<!-- jquery -->
<script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
<!-- meni sa strane -->
<script src="js/ui.js" charset="utf-8"></script>

<!-- glavna skripta -->
<script src="js/main.js" charset="utf-8"></script>
</html>
