<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Viser RSS reader</title>
    <!-- ANGULAR biblioteke -->
    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>

    <!-- jquery -->
    <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>

    <!-- glavna skripta -->
    <script src="main.js" charset="utf-8"></script>
  </head>

  <body ng-app="viser">

      <div ng-controller="feedc">

        <a href="#" ng-click="feedSrc='http://www.viser.edu.rs/xml/rss-vesti.php';loadFeed($event);">Viser vesti</a>

        <div>
          <ul>
            <span ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>
            <li ng-repeat="feed in feeds">
              <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
              <p class="text-left">{{feed.contentSnippet}}</p>
              <span class="small">{{feed.publishedDate}}</span>
            </li>
          </ul>

        </div>


      </div>


  </body>
</html>
